* {
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bolder;
    margin: 0; padding: 0;
}


body {
    max-width: 720px;
    margin: 0 auto;
}

/* 헤더 */
#header {
    width: 100%;
    max-width: 720px;
    height: 10%;
    position: fixed;
    background-color: #f6f6f6;
}


.header-top {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#header .header-id {

    padding-left: 4%;
    display: flex;
    align-content: center;
    justify-content: center;
}



.header-id p {
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding-left: 4%;
}


#header .header-icon {
    width: 8%;
    margin: 2% 5%;
    padding: 1.5%;

}



/* 게시물 올리기 CSS */
#header .post-title {
    margin: 6% 4% 0 4%;
    font-size: 140%;
}
.post-upload {
    padding-top: 50%;
    padding-left: 20%;
}
.post-upload img {
    width: 20%;
    padding-left: 22%;
}
.post-upload h2 {
    margin: 2% 0 3% 0;
}
.post-btn-btn {
    padding-left: 19%;
}
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-blue {
    background-color: #2082eb;
    color: white;
}
.w-btn-blue-outline:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}
.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
.w-btn:active {
    transform: scale(1.5);
}
.w-btn-outline:active {
    transform: scale(1.5);
}
/* 게시물 올리기 CSS */



/* 컨테이너 */
#container {
    padding-top: 10%;
    padding-bottom: 10%;
}

#intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1%;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin-left: 5%;
}


.image-wrapper img {
    width: 15vw;
    max-width: 100px;
    max-height: 100px;
    height: 15vw;
    border: 5px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(to right, #ff7700, #ff3636aa, #ff00c3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.count-container {
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


.count-post {
    width: 30vw;
    margin: 10%;
    text-align: center;

}


.count-follower {
    width: 30vw;
    margin: 10%;
    text-align: center;
}


.count-following {
    width: 30vw;
    margin: 10%;
    text-align: center;

}


.ment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 6%;
}

.ment-container p {
    font-size: 13px;
}


/* 스토리 */
#story-container {
    padding: 0.3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.story-wrapper {
    width: auto;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.story-wrapper .story-on {
    width: 11vw;
    max-width: 80px;
    max-height: 80px;
    height: 11vw;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(to right, #ff7700, #ff3636aa, #ff00c3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.story-wrapper .story-off {
    width: 11vw;
    max-width: 80px;
    max-height: 80px;
    height: 11vw;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(#c4c4c4, #c4c4c4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.story-wrapper img {
    width: 92%;
    height: 92%;
    border-radius: 50%;
}

.story-wrapper p {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bolder;
}

/* 포스트 - 공통 */
.left-wrapper {
    width: 100%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    /*border-right: 3px solid lightgray;*/
}


.right-wrapper {
    width: 100%;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-wrapper img {
    width: 45px;
}


/* 포스트 */
#post-container {
    width: 100%;
}

/* 포스트 -wrapper */
/*.post-wrapper {}*/


/* 포스트 - 헤더 */
.post-header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.post-header .left-wrapper img {
    width: 12%;
    height: 12%;
    margin: 4% 40%;
}


.post-header .right-wrapper img {
    margin-right: 1%;
    width: 12%;
    height: 12%;
}


/*포스트 - 바디*/
.post-body {
    overflow: hidden;
}

.post-img article {
    float: left;
    width: 33%;
    margin-left: auto;
}


.post-img img {
    border-bottom: 1px solid black;
    display: block;
    max-width: 100%;
    height: auto;

}


/*포스트 - 푸터*/


.post-footer {
    padding-left: 2%;
    border-bottom: 1px solid lightgray;
}

.post-footer .post-like-wrapper {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.post-footer .post-like-wrapper img {
    width: 6%;
    height: 6%;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin: 0 1%;
}

.post-footer .post-like-wrapper p {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 13px;
}

.post-footer .post-content-wrapper {
    display: flex;
}

.post-footer .post-content-wrapper .post-author {
    margin: 0 2% 0 2%;
    font-weight: bold;
    font-size: 13px;
}

.post-footer .post-content-wrapper .post-content {
    margin: 0;
    font-size: 14px;
}

.post-footer .post-time {
    color: gray;
    font-size: 12px;
    margin-left: 2%;
    margin-top: 4%;
}

/* 푸터 */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 720px;
    border-top: 1px solid lightgray;
    background-color: #f6f6f6;
        width: 100%;
    max-width: 720px;
    height: 10%;
    position: fixed;
    background-color: #f6f6f6;

}

#footer #icon-wrapper {
    margin: 3% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer #icon-wrapper img {
    width: 6%;
}
