* {
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bolder;
    margin: 0; padding: 0;
}


body {
    max-width: 720px;
    margin: 0 auto;
}

/* 헤더 */
#header {
    width: 100%;
    max-width: 720px;
    height: 12%;
    position: fixed;
    background-color: #f6f6f6;
}


.header-top {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#header .header-id {
    padding-top: 4%;
    padding-left: 3%;
}

#header .header-icon {
    width: 35px;
    height: 35px;
    margin: 3%;
}

.header-icon img {
}


/* 컨테이너 */
#container {
    padding-top: 10%;
    padding-bottom: 10%;
}


#intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1%;
}


.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin-left: 3%;
}



.image-wrapper img {
    width: 15vw;
    max-width: 100px;
    max-height: 100px;
    height: 15vw;
    border: 5px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(to right, #ff7700, #ff3636aa, #ff00c3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.count-container {
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

}


.count-post {
    width: 30vw;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.count-follower {
    width: 30vw;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.count-following {
    width: 30vw;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 6%;
}

.ment-container p {
    font-size: 13px;
}


/* 스토리 */
#story-container {
    padding: 0.3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

.story-wrapper {
    width: auto;
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.story-wrapper .story-on {
    width: 11vw;
    max-width: 80px;
    max-height: 80px;
    height: 11vw;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(to right, #ff7700, #ff3636aa, #ff00c3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.story-wrapper .story-off {
    width: 11vw;
    max-width: 80px;
    max-height: 80px;
    height: 11vw;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(#c4c4c4, #c4c4c4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.story-wrapper img {
    width: 92%;
    height: 92%;
    border-radius: 50%;
}

.story-wrapper p {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bolder;
}

/* 포스트 - 공통 */
.left-wrapper {
    margin-left: 3%;
    display: flex;
    align-items: center;
    width: 100%;

}

.right-wrapper {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 3%;
}

/* 포스트 - 헤더 */
.post-header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.post-header .left-wrapper img {
    width: 15%;
    height: 15%;
    margin: 4% 45%;

}

.post-header .left-wrapper p {
    margin-left: 3%;
    font-weight: bold;
    font-size: 15px;
}

.post-header .right-wrapper img {
    margin-right: 3%;
}


/*포스트 - 바디*/

.post-body {
    width: 100%;
}


.post-wrapper {
    display: flex;
}

.post-body article {
    float: left;
    margin-left: 3px;
    margin-bottom: 3px;
}

.post-body img {
   border-bottom: 1px solid black;
    display: block;

    weight: 30%;
}


/*포스트 - 푸터*/


.post-footer {
    padding-left: 2%;
    border-bottom: 1px solid lightgray;
}

.post-footer .post-like-wrapper {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.post-footer .post-like-wrapper img {
    width: 6%;
    height: 6%;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin: 0 1%;
}

.post-footer .post-like-wrapper p {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 13px;
}

.post-footer .post-content-wrapper {
    display: flex;
}

.post-footer .post-content-wrapper .post-author {
    margin: 0 2% 0 2%;
    font-weight: bold;
    font-size: 13px;
}

.post-footer .post-content-wrapper .post-content {
    margin: 0;
    font-size: 14px;
}

.post-footer .post-time {
    color: gray;
    font-size: 12px;
    margin-left: 2%;
    margin-top: 4%;
}

/* 푸터 */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 720px;
    border-top: 1px solid lightgray;
    background-color: #f6f6f6;

}

#footer #icon-wrapper {
    margin: 3% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer #icon-wrapper img {
    width: 6%;
}
