<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../static/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>인스타 로그인페이지</title>
</head>
<body>
<div class="login_container">
    <div class="login_wrap">

        <div class="login_wrap_input">
            <input type="text" id="login_email" required >
            <label for="login_email">이메일</label>
        </div>

        <div class="login_wrap_input">
            <input type="password" id="login_pw" required>
            <label for="login_pw">비밀번호</label>
        </div>

        <div>
            <button onclick="login()">로그인</button>
            <button onclick="register_change()">회원가입하기</button>
        </div>
    </div>
</div>

<div class="register_container">
    <div class="login_wrap">
        <div class="login_wrap_input">
            <input type="text" id="email" required>
            <label for="email">이메일</label>

        </div>
        <div class="login_wrap_input">
            <input type="text" id="name" required>
            <label for="pw">성명</label>
        </div>
        <div class="login_wrap_input">
            <input type="text" id="nickname" required>
            <label for="pw">사용자 이름</label>
        </div>
        <div class="login_wrap_input">
            <input type="password" id="pw" required>
            <label for="pw">비밀번호</label>
        </div>
        <div>
            <button onclick="register()">회원가입</button>
            <button onclick="register_change2()">취소</button>
        </div>
    </div>
</div>

<script src="../static/login.js"></script>
</body>
</html>