<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mypage.css">
    <title>Instagram</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

</head>

<body>
    <div id="main">
        <div id="header">
            <div class="header-top">
                <div class="header-id">
                    <p>dd0ngri</p>
                </div>
                <img class="header-icon" src="img/menu.png">
            </div>
            <div class="header-middle">

            </div>
        </div>
        <div id="container">
            <div id="intro-container">
                <div class ="image-container">
                    <div class="image-wrapper">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCVWbIbGuDrX0thYBFbeVTc-fG9WpoHXNRIg&usqp=CAU"/>
                    </div>
                </div>
                <div class ="count-container">
                    <div class="count-post">
                        <p>49<br>
                        게시물</p>
                    </div>
                    <div class="count-follower">
                        <p>2,022
                        <br>팔로워</p>
                    </div>
                    <div class="count-following">
                        <p>556
                        <br>팔로잉</p>
                    </div>
                </div>
                <div class ="ment-container">
                    <p>박다솜<br>
                    사진작가<br>
                    안녕하세요 촬영문의는 dm</p>
                </div>
            </div>
            <div id="story-container">
                <div class="story-wrapper">
                    <div class="story-on">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCVWbIbGuDrX0thYBFbeVTc-fG9WpoHXNRIg&usqp=CAU"/>
                    </div>
                    <p>🍀</p>
                </div>
                <div class="story-wrapper">
                    <div class="story-off">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwzjhC3aAC0CFs1mfgp5YpuMNMDaUhWZ3Vnw&usqp=CAU"/>
                    </div>
                    <p>🌏</p>
                </div>
                <div class="story-wrapper">
                    <div class="story-on">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"/>
                    </div>
                    <p>💛</p>
                </div>
            </div>
            <div id="post-container">
                <div class="post-wrapper">
                    <div class="post-header">
                        <div class="left-wrapper">
                            <img src="img/person.png">
                        </div>
                        <div class="right-wrapper">
                            <img src="https://img.icons8.com/ultraviolet/48/000000/bookmark-ribbon--v2.png"/>
                        </div>
                    </div>
                    <div class="post-body">
                        <div class ="post-wrapper">
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        </div>
                        <div class ="post-wrapper">
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        </div>
                        <div class ="post-wrapper">
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        <article><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGaAMoob4SA151DLDQVs1KhefAvdgHdNw2OA&usqp=CAU"></article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="icon-wrapper">
                <img src="img/home@3x.png">
                <img src="img/search@3x.png">
                <img src="img/trending@3x.png">
                <img src="img/like@3x.png">
                <img src="img/home@3x.png">
            </div>
        </div>
    </div>
</body>
</html>