<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/mypage_.css">
    <script type="text/javascript" src="../static/js/jsjs.js"></script>
    <title>Instagram</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

</head>

<body>
    <div id="main">
        <div id="header">
            <div class="header-top">
                <div class="post-title"><p>새_게시물_만들기</p></div>
            </div>
        </div>

        <div class="post-upload">
            <img src="../static/img/pngwing.com.png">
            <h2>사진과 동영상을 인스타그램에 게시합니다 </h2>
            <div class="file-upload">
                <input style="width:150px;" type="text" id="title" placeholder="업로드 이미지 제목">
                <input type="file" id="file">
                <button onclick="posting()" class="w-btn w-btn-blue" type="button"> 선택파일 업로드 </button>
            </div>
        </div>



        <div id="footer">
            <div id="icon-wrapper">
                <img onclick="to_instagram()" src="../static/img/home@3x.png">
                <img src="../static/img/search.png">
                <img src="../static/img/play.png">
                <img src="../static/img/heart.png">
                <img onclick="to_mypage()" src="../static/img/is_me.png">
            </div>
        </div>
    </div>
</body>
</html>