<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>인스타 로그인 완료!</title>
</head>
<body>
    <div class="login_container">
        <div class="login_wrap">
            <img id="logo" src="../static/img/insta-logo.png" />
            <div class="login_wrap_input">

            </div>
                <p>정상적으로 <strong>로그인</strong> 완료되었습니다 !</p>
            <div>
                <button onclick="">인스타 입장</button>
            </div>
        </div>
        <div class="download">
            <p>앱을 다운로드하세요.</p>
        </div>
        <div class="footer">
            <div id="icon-wrapper">
                <img id="app" onClick="location.href='https://apps.apple.com/app/instagram/id389801252?vt=lo'" src="../static/img/appstore.png">
                <img id="play" onClick="location.href='https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb&utm_campaign=loginPage&ig_mid=FA0B1D86-304B-42D4-94C8-97C5159FE414&utm_content=lo&utm_medium=badge'" src="../static/img/playstore.png">
            </div>
        </div>
    </div>


<script src="../static/js/login.js"></script>
</body>
</html>